<% block('styles', '<link rel="stylesheet" href="/styles/ladda-themeless.min.css">') %>
<% block('scripts', '<script src="/js/application/events.js"></script>') %>

<div class="admin-container events-container"><!-- MAIN -->
  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a resource">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>

  <div class="admin-panel"><!-- PANEL ROW -->
    <div class="<%= Array.isArray(tasks)?'col-md-6':'col-md-12' %> resources-panel events-panel">
      <h3>Monitors</h3>
      <% if (resources.length > 0) { %>
      <div class="allUpNrunning main-status hidden-container">
        <i class="glyphicon glyphicon-ok-sign big-icon"></i>
        <h4>All up and running</h4>
      </div>
      <div class="resources-panel-list">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <% var statesDicc = {
            normal: 0,
            failure: 1,
            updates_stopped: 2,
            unknown: 3
          };
          var iconsDicc = {
            normal: "icon-check",
            failure: "icon-warn",
            updates_stopped: "icon-error",
            unknown: "icon-nonsense"
          };
          indexedResources.forEach(function(resource){
            var overallState = resource.state;
            var tags = [
              resource.id,
              resource.description,
              resource.name,
              "hostname=" + resource.hostname,
              "type=" + resource.type,
              "state=" + resource.state
            ];
            resource.subs.forEach(function(subresource){
              if(statesDicc[subresource.state] > statesDicc[overallState]) {
                overallState = subresource.state;
              }
              tags.push(subresource.id);
              tags.push(subresource.description);
              tags.push(subresource.name);
              tags.push(subresource.hostname);
              tags.push(subresource.type);
              tags.push("state=" + subresource.state);
              tags.concat(subresource.tags);
            });

            var monitorTags = resource.monitor && resource.monitor.tags;
            tags = tags.concat(monitorTags).join(','); %>

            <div class="itemRow resource-container panel panel-default js-searchable-item"
              id="resource-<%= resource.id %>"
              data-item-id="<%= resource.id %>"
              data-item-host-id="<%= resource.host_id %>"
              data-item-name="<%= resource.hostname %>"
              data-item-state="<%= overallState %>"
              data-tags="<%= tags %>">
              <div class="panel-heading" role="tab" id="heading<%= resource.id %>">
                <h4 class="panel-title <%= resource.type %>">
                  <span class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= resource.id %>" aria-expanded="false" aria-controls="collapse<%= resource.id %>">
                    <div class="panel-title-content">
                      <span class="panel-item name" id="<%= resource.id %>"><%= resource.description %><small> > <%= resource.type %></small></span>
                      <span class="panel-item icons">
                        <button data-search="<%= resource.description %>" data-resource_id="<%= resource.id %>" class="btn btn-primary resource-search">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <a title="Workflow"
                          data-hook="workflow-button"
                          href="/admin/workflow?node=<%= resource.monitor.id %>"
                          class="tooltiped btn-icon-image flowchart-icon"></a>
                        <button class="monitorStats btn btn-icon-image tooltiped" title="Stats">
                          <span class="glyphicon glyphicon-stats"></span>
                        </button>
                        <button class="editMonitors btn btn-icon-image tooltiped" title="Edit monitors">
                          <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <div class="state-resource-container">
                          <span class="tooltiped state-icon <%= iconsDicc[overallState] %>" title="<%=overallState%>"></span>
                        </div>
                      </span>
                    </div>
                  </span>
                </h4>
              </div>
              <div id="collapse<%= resource.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= resource.id %>">
                <div class="panel-body">
                  <div>
                    <h4>Host: <%= resource.hostname %></h4>
                    <table class="table table-stripped">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Type</th>
                          <th>Status</th>
                          <th>Last updated</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="resource<%=resource.id%>">
                          <td class="text-center">
                            <span class="state-icon <%=iconsDicc[resource.state]%>"></span>
                          </td>
                          <td><%= resource.type %></td>
                          <td><span class="state_text"><%= resource.state %></span></td>
                          <td><span class="state_last_update"><%= moment(resource.last_update).startOf('second').fromNow() %></span></td>
                        </tr>
                        <% resource.subs.forEach(function(subresource){ %>
                          <tr class="resource<%=subresource.id%>">
                            <td class="text-center">
                              <span class="state-icon <%=iconsDicc[subresource.state]%>"></span>
                            </td>
                            <td><%= subresource.type %></td>
                            <td><span class="state_text"><%= subresource.state %></span></td>
                            <td><span class="state_last_update"><%= moment(subresource.last_update).startOf('second').fromNow() %></span></td>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> <!-- end item -->
          <% }); %>

          <section>
            <div data-hook="hidden-resources" class="hidden-container">
              <div data-hook="hidden-resources-container">
              </div>
            </div>
            <div data-hook="toggle-hidden-resources" style="padding:5px 0px 5px 0px; margin: auto; width:100%; color:#fff; text-align:center; cursor:pointer;">
              <span class="btn btn-primary tooltiped glyphicon glyphicon-menu-down" title="show/hide"></span>
            </div>
          </section>
        </div> <!-- end panel -->
      </div> <!-- /resources-panel-list -->
      <% } else { %><!-- no resources -->

        <%- include ./partials/no-monitors-message.ejs %>

      <% } %>
    </div>

    <% if (Array.isArray(tasks)) { %>
    <!-- Tasks -->
    <div class="col-md-6 tasks-panel events-panel">
      <h3 class="white">Tasks</h3>
      <% if (tasks.length > 0) { %>
      <div>
        <div class="tasks panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <button class="bulkRunner collapse btn btn-danger btn-block ladda-button" data-style="zoom-in">
            Run all these tasks <span class="playIcon"><i class="status glyphicon glyphicon-forward"></i></span>
          </button>

          <% tasks.forEach(function(task){ %>
            <% var tags = [
              'task',
              task.description,
              task.name,
              'task='+ task.id,
              'host='+ task.hostname,
              'script='+ task.script_id
            ].concat(task.tags).join(',');
            var badSpecs = !task.host_id || (task.type=='script' && !task.script_id) ;%>
            <div class="task-item-row panel panel-default js-searchable-item"
              data-badspecs="<%= badSpecs %>"
              data-tags="<%= tags %>"
              data-taskid="<%=task.id%>"
              data-taskresourceid="<%=task.resource_id%>"
              data-username="<%= req.user.username %>">
              <div class="panel-heading" role="tab" id="heading<%=task.id%>">
                <h4 class="panel-title task">
                  <span class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=task.id%>" aria-expanded="false" aria-controls="collapse<%=task.id%>">
                    <div class="panel-title-content">
                      <span class="panel-item name"><%=task.name%><small> > task (<%=task.hostname%>)</small></span>
                      <div class="panel-item icons">
                        <span style="float:right; margin-left: 10px;">

                        <% if( badSpecs ) { %>
                          <button class="btn btn-primary btn-sm ladda-button">
                            <span class="disabledIcon"><i class="glyphicon glyphicon-ban-circle"></i></span>
                          </button>
                        <% } else { %>
                          <button class="btn btn-primary btn-sm ladda-button trigger-task tooltiped" title="Run task" data-style="zoom-in">
                            <span class="playIcon"><i class="status glyphicon glyphicon-triangle-right"></i></span>
                          </button>
                        <% } %>

                        </span>
                        <a title="Workflow" data-hook="workflow-button" href="/admin/workflow?node=<%= task.id %>" class="tooltiped btn-icon-image flowchart-icon"></a>
                        <button class="btn btn-icon-image tooltiped" title="edit task">
                          <span class="glyphicon glyphicon-edit"></span>
                        </button>
                      </div>
                    </div>
                  </span>
                </h4>
              </div>
              <div id="collapse<%=task.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=task.id%>">
                <div class="panel-body">
                  <% if( !task.host_id || (task.type=='script' && !task.script_id) ) { %>
                  <div class="fields alert alert-danger">
                    <div class="field"><p>Task definition Error</p></div>
                    <div class="field">
                    <%= ! task.host_id ? 'The Task needs a Host to run.':'' %>
                    <%= (task.type=='script' && ! task.script_id) ? 'The Task needs a Script to execute.':'' %>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                  <% } %>
                  <div class="fields">
                    <div class="field"><p>Name</p></div>
                    <div class="field"><%=task.name%></div>
                  </div>
                  <div class="fields">
                    <div class="field"><p>Description</p></div>
                    <div class="field"><%=task.description%></div>
                  </div>
                  <div class="fields">
                    <div class="field"><p>Hostname</p></div>
                    <div class="field"><%=task.hostname%></div>
                  </div>
                  <div class="fields" data-hook="job-result-container"></div>
                </div>
              </div>
            </div>
          <% }) %>
          <section>
            <div data-hook="hidden-tasks" class="hidden-container">
              <div data-hook="hidden-tasks-container">
              </div>
            </div>
            <div data-hook="toggle-hidden-tasks" style="padding:5px 0px 5px 0px; margin: auto; width:100%; color:#fff; text-align:center; cursor:pointer;">
              <span class="btn btn-primary tooltiped glyphicon glyphicon-menu-down" title="show/hide"></span>
            </div>
          </section>
        </div>
      </div>
      <% } else { %>

        <%- include ./partials/no-tasks-message.ejs %>

      <% } %>

      <!-- Results Div
      <div id="result_container" class="col-md-12"> </div>
      -->
      <div class="resultTemplate" style="display:none;">
        <div class="output-block">
          <button type="button" class="close" style="opacity:1;" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div>
            <p>Script execution result</p>
            <p>stdout</p>
            <div> <pre class="scriptStdout"></pre> </div>
            <p>stderr</p>
            <div> <pre class="scriptStderr"></pre> </div>
          </div>
        </div>
      </div>

      <div data-hook="scraper-job-result-template" style="display:none;">
        <div class="output-block">
          <button type="button" class="close" style="opacity:1;" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div>
            <p>Web Request result</p>
            <div data-hook="json-container" style="padding-left: 10px;"></div>
          </div>
        </div>
      </div>

    </div>
    <% } %>
  </div> <!-- END PANEL ROW -->
</div> <!-- END MAIN -->
