<% block('scripts', '<script> $(document).ready(function(){ new UsersPageInit(); }); </script>') %>

<div class="container" id="users">
  <h1 style="color:#fff"> Users <small>Admin Panel</small></h1>
  <div class="row">
    <div class="col-md-12">
      <br/>
      <p> <a id="createUser" class="btn btn-primary" data-toggle="modal" data-target="#create-user">Create a user</a> </p>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <!-- color #fff -->
        <table class="table table-striped">
          <tr>
            <th><span class="glyphicon glyphicon-wrench"></span></th>
            <th>Username</th>
            <th>Email</th>
            <th>Credential</th>
            <th>Organizations</th>
          </tr>
          <% users.forEach( function(user, key) { %>
          <tr class="user" id="<%= user.id %>">
            <td>
              <a class="editUser"   href="#" data-user-id="<%= user.id %>" style="color:green" data-action="edit" data-toggle="modal" data-target="#edit-user"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="deleteUser" href="#" data-user-id="<%= user.id %>" style="color:red"><span class="glyphicon glyphicon-trash"></span></a>
              <a class="reSendInvitation"   href="#" data-user-id="<%= user.id %>"><span class="glyphicon glyphicon-share-alt"></span></a>              
            </td>
            <td class="user"> <%= user.username %> </td>
            <td class="email"> <%= user.email %> </td>
            <td class="credential"> <%= user.credential %> </td>
            <td class="customers"> <%= user.customers %> </td>
          </tr>
          <% }); %>
        </table>
      </div><!--.table-responsive-->
    </div>
  </div><!-- .row -->
</div><!-- #users -->
<%- include ./users/create-modal.ejs %>
<%- include ./users/edit-modal.ejs %>
