<!-- views/menu.ejs -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">

    <span class="user-profile">
      <small><strong><%= (req.user.username||req.user.email).toUpperCase() + ' (' + req.user.credential + ')' %></strong></small>
      <span class="glyphicon glyphicon-user"></span>
    </span>

    <a class="navbar-brand" href="/dashboard"><img src="/images/logo-hor.png" alt="The eye"></a>
    <div class="navData">
      <a href="/profile">
        <span class="clientName"><%= req.session.customer %></span>
      </a>
      <div class="client hidden-sm hidden-md hidden-lg">
        <a href="#" class="switcher"><img src="/images/switcher.png" /></a>
        <select id="clientSelect" class="hidden " tabindex=-1>
          <% req.user.customers.forEach( function(customer, key){ %>
            <option value="<%= customer %>"><%= customer %></option>
          <% }); %>
        </select>
      </div>
      <div class="hidden-xs client dropdown">
        <a href="#" data-toggle="dropdown" class="switcher">
          <img src="/images/switcher.png" />
        </a>
        <ul class="dropdown-menu" role="menu">
          <span class="glyphicon glyphicon-triangle-top"></span>
          <% req.user.customers.forEach( function (customer, key) { %>
            <li><a onClick="javascript:setCustomer('<%= customer %>')" ><%= customer %></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
    <ul class="navbar-right">
      <li><a data-hook="dashboard" href="/dashboard">Dashboard</a></li>
      <% if ( req.user.credential != 'user' && req.user.credential != 'viewer' ) { %>
      <li class="tooltiped" data-placement="left" title="Resource manager">
        <div class="dropdown" >
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a> <i class="glyphicon glyphicon-cog"></i> </a>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="/admin/monitor"> Monitors </a></li>
            <li><a href="/admin/task"> Tasks </a></li>
            <li><a href="/admin/webhook"> Webhooks </a></li>
            <li><a href="/admin/script"> Scripts </a></li>
            <li><a href="/admin/hostgroup"> Provisioning </a></li>

            <% if (req.user.credential == 'root') { %>
            <li><a href="/admin/user"> Users </a></li>
            <li><a href="/admin/customer"> Organizations </a></li>
            <% } %>

            <li><a href="/profile"> Settings </a></li>
            <li>
              <a href="/logout">
                <i class="glyphicon glyphicon-log-out"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </li>
      <% } else { %>
      <li>
        <a href="/profile"> Profile </a>
      </li>
      <li>
        <a href="/logout">
          <i class="glyphicon glyphicon-log-out"></i>
          Logout
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
