<form id="createTaskForm" action="/task" class="form-horizontal">
  <input type="hidden" value="script">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name * </label>
    <div class="col-sm-9">
      <input data-hook="name" type="text" name="name" class="form-control" id="name" placeholder="Task name">
    </div>
  </div>
  <div class="form-group">
    <label for="host" class="col-sm-3 control-label">Target Host * </label>
    <div class="col-sm-9">

      <!-- single host selection -->

      <div class="hidden-container single-host-selection">
        <select data-hook="hosts_id" name="host_id" class="hosts select form-control" style="width:100%">
          <!-- <option value="0" disabled selected><strong></strong></option> -->
          <option disabled selected value></option>
          <% hosts.forEach(function(h) { %>
          <option value="<%=h.id%>"><strong><%=h.hostname%></strong></option>
          <% }); %>
        </select>
      </div>

      <!-- or multiple host selection -->

      <div class="hidden-container multiple-hosts-selection">
        <select data-hook="hosts_id" name="hosts_id" class="select form-control" multiple style="width:100%">
          <% hosts.forEach(function(h) { %>
          <option value="<%=h.id%>"><strong><%=h.hostname%></strong></option>
          <% }); %>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="script_select" class="col-sm-3 control-label">Select Script * </label>
    <div class="col-sm-6">
      <select data-hook="script_id" name="script_id" class="form-control" style="width:100%">
        <option value="0" disabled selected></option>
        <% scripts.forEach(function(s) { %>
        <option value="<%=s.id%>"><strong><%=s.filename%></strong></option>
        <% }); %>
      </select>
    </div>
    <div class="col-sm-3">
      <a class="btn btn-primary btn-block createScript scripter">Create a Script</a>
    </div>
  </div>
  <div class="form-group">
    <label for="tags" class="col-sm-3 control-label">Tags </label>
    <div class="col-sm-9">
      <div>
        <select class="form-control select" name="tags" data-hook="tags" multiple style="width:100%"> </select>
      </div>
    </div>
  </div>

  <div class="scraper-section-title" data-hook="advanced-section-toggler">
    <label>Advanced </label>
    <i class="glyphicon glyphicon-chevron-down" title="Advanced"></i>
  </div>
  <section data-hook="advanced" style="display:none">

    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">More about it </label>
      <div class="col-sm-9">
        <textarea data-hook="description" type="text" name="description" class="form-control" id="description" placeholder="Task description"></textarea>
      </div>
    </div>
    <div class="form-group" style="display:none">
      <label for="public" class="col-sm-3 control-label">Share this Task? </label>
      <div class="col-sm-9">
        <div>
          <label class="radio-inline">
            <input type="radio" name="public" data-hook="public" value="true">
            Yes. Make it public
          </label>
          <label class="radio-inline">
            <input type="radio" name="public" data-hook="public" value="false" checked>
            No. Keep it private
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="script_runas" class="col-sm-3 control-label">RunAs </label>
      <div class="col-sm-9">
        <div>
          <input class="form-control" type="text" name="script_runas" data-hook="script_runas" placeholder="sudo -u facugon $(%script%)">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="script_arguments" class="col-sm-3 control-label">Script Arguments </label>
      <div class="col-sm-9">
        <div id="script-arguments-input">
          <input class="form-control" type="text" name="script_arguments" data-hook="script_arguments" placeholder="--color, --exclude-dir='node_modules'">
        </div>
      </div>
    </div>
    <!-- TRIGGER TASK ON EVENT -->
    <div class="form-group">
      <label for="triggers" class="col-sm-3 control-label">Trigger on </label>
      <div class="col-sm-9">
        <select data-hook="events-container" name="triggers" class="form-control" style="width:100%;" multiple> </select>
      </div>
    </div>
    <!-- GRACE TIME FOR CANCELATION -->
    <div class="form-group">
      <label for="grace_time" class="col-sm-3 control-label">Grace Time (mins) </label>
      <div class="col-sm-9">
        <select name="grace_time" class="form-control select" data-hook="grace_time" style="width:100%">
          <option value="0">No wait / No Cancelation</option>
          <option value="300">5</option>
          <option value="600">10</option>
          <option value="900">15</option>
        </select>
      </div>
    </div>
    <!-- /GRACE TIME FOR CANCELATION -->
  </section>
</form>
