<% block('scripts', '<script src="/js/application/auth.js"></script>') %>
<% block('scripts', '<script src="/js/application/profile.js"></script>') %>
<div class="container profile-page">
  <div class="row">
    <% if(req.user.credential === 'owner' || req.user.credential === 'root') { %>
    <div class="col-sm-6">
      <div class="well info-container">
        <h3><span class="fa fa-user"></span>Invite</h3>
        <a href="/invite"class="glyphicon glyphicon-plus"> teammate / collaborator </a>
      </div>
    </div>
    <% } %>

    <div class="col-sm-6">
      <div class="well info-container">
        <h3><span class="fa fa-user"></span>Linux Agent Installer</h3>
        <% if(agentCurl) { %>
        <!-- <pre><%=agentCurl%></pre> -->
        Run this cURL command from a bash console to install
        the agent on the client<br /><br />
        <div class="input-group">
          <input readonly type="text" id="agentCurl" class="form-control" data-hook="curl-agent" value="<%=agentCurl%>">
          <span class="input-group-btn">
            <button class="btn btn-primary clipboard-btn" type="button"
              data-clipboard-target="#agentCurl">
              <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
            </button>
          </span>
        </div><!-- /input-group -->
        <% } else { %>
              <pre>ERROR: Agent-User not found!</pre>
        <% } %>

        <h3><span class="fa fa-user"></span>Window Agent Installer</h3>
        <p><strong>Windows Users, please download the installer:</strong></p>
        <a href="https://s3.amazonaws.com/theeye.agent/theEyeInstaller-x64.exe" class="btn btn-default">Download</a>
      </div>
    </div>

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>
        <% var session=req.user; %>
        <p>
          <strong>id</strong>: <%= session.id %><br>
          <strong>email</strong>: <%= session.email %><br>
          <strong>username</strong>: <%=user.username %><br>
        </p>
        <% if ( typeof (passports.local) !== "undefined") { %>
        <a data-toggle="modal" data-target="#changePass" class="btn btn-default">Change password</a>
        <a href="/disconnect/local" class="btn btn-default">Unlink</a>
        <% } else { %>
        <a href="/connect" class="btn btn-default">Connect Local</a>
        <% } %>
        <!-- GOOGLE INFORMATION -->
        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
        <% if(passports.oauth2){ %>
        <p>
          <strong>id</strong>: <%= passports.oauth2.id %><br>
          <strong>user</strong>: <%= passports.oauth2.user  %>
        </p>
        <a href="/disconnect/google" class="btn btn-danger">Unlink</a>
        <% } else { %>
        <a href="/connect/google" class="btn btn-danger">Connect Google</a>
        <% } %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well info-container col-sm-12">
        <h3><span class="fa fa-user"></span>TheEye Passport API</h3>
        <h4>This are your credentials to connect TheEye Supervisor API.</h4>
        <p>
          <div><label class="col-20">client id</label> <span class=""><%= passports.theeye.profile.client_id %></span></div>
          <div><label class="col-20">client secret</label> <span class=""><%= passports.theeye.profile.client_secret %></span></div>
          <div><label class="col-20">access token</label> <span class=""><%= passports.theeye.token %></span></div>
        </p>
      </div>
    </div>
  </div>
</div>
<%- partial ('./partials/update-password-modal.ejs') %>
