<% var tags = [
'id=' + monitor.resource.id,
'name=' + monitor.resource.name,
'hostname=' + monitor.resource.hostname,
'type=' + monitor.type,
'state=' + monitor.resource.state,
].concat(monitor.tags).join(',') %>

<% String.prototype.ucfirst = function () {
  var string = this
  return string.charAt(0).toUpperCase() + string.slice(1);
}

function typeString (type) {
  if (type == 'dstat') { return 'Health'; }
  if (type == 'psaux') { return 'Process List'; }
  return type.ucfirst()
}
%>
<div class="itemRow panel panel-default js-searchable-item"
  data-item-id="<%= monitor.resource.id %>"
  data-item-name="<%= monitor.resource.name %>"
  data-tags="<%= tags %>">
  <div class="panel-heading" role="tab" id="heading<%= monitor.id %>">
    <h4 class="panel-title">
      <span class="collapsed"
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapse<%= monitor.id %>"
        aria-expanded="false"
        aria-controls="collapse<%= monitor.id %>">
        <div class="panel-title-content">

          <% if (monitor.type == 'host') { %>
          <button class="rowSelector-not btn btn-primary simple-btn tooltiped"
            title="Cannot massive select hosts yet"
            aria-label="Center Align">
            <span class="fa fa-server"></span>
          </button>
          <% } else { %>
          <button class="rowSelector btn btn-primary simple-btn tooltiped"
            title="Select monitor"
            aria-label="Center Align">
            <span class="selectorIcon glyphicon glyphicon-unchecked"></span>
          </button>
          <% } %>

          <span class="panel-item name" id="<%= monitor.id %>">
            <% if (monitor.template) { %>
            <small>
              <a href="/admin/template">
                <span title="This monitor was created from a template"
                  class="fa fa-clone remark-success tooltiped">
                </span>
              </a>
            </small>&nbsp;
            <% } else if (monitor.resource.type == 'host') { %>
            <small>
              <span title="HI! I am a Host" class="remark-default tooltiped"></span>
            </small>
            <% } %>

            <span class="monitor-<%= monitor.enable ? 'enabled' : 'disabled' %>">
              <%= typeString(monitor.resource.type).ucfirst() %>
              <% if (['host','psaux','dstat'].indexOf(monitor.resource.type) === -1) { %>
                : <%= monitor.resource.name %> <% } %>
            </span>
            <small class="remark-default">
              > <%= monitor.resource.hostname %>
              <%= ! monitor.enable ? ' > disabled' : '' %>
            </small>
            <small class="<%= monitor.resource.state === 'normal' ? '' : 'remark-alert' %>">
              :: <%= monitor.resource.state %>
            </small>
          </span>

          <!-- DESKTOP ICONS MENU -->
          <div class="panel-item icons panel-item-desktop">
            <% var type = ( monitor.type || monitor.monitor_type ) %>
            <% if (type == 'host') { %>
              <%- partial ('./menu/host.ejs', { monitor: monitor }) %>
            <% } else if (type == 'psaux') { %>
              <%- partial ('./menu/psaux.ejs', { monitor: monitor }) %>
            <% } else { %>
              <%- partial ('./menu/monitors.ejs', { monitor: monitor }) %>
              <!-- TYPE SCRIPT, PROCESS OR SCRAPER -->
            <% } %>
          </div>
          <!-- /DESKTOP ICONS MENU -->
          <!-- MOBILE ICONS MENU -->
          <div class="panel-item icons dropdown panel-item-mobile">
            <button class="btn dropdown-toggle btn-primary simple-btn"
              type="button"
              id="dropdownMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% var type = (monitor.type||monitor.monitor_type) %>
              <% if (type == 'host') { %>
              <%- partial ('./menu/host.ejs',{ monitor: monitor }) %>
              <% } else if (type == 'psaux') { %>
              <%- partial ('./menu/psaux.ejs',{ monitor: monitor }) %>
              <% } else { %>
              <%- partial ('./menu/monitors.ejs',{ monitor: monitor }) %>
              <!-- TYPE SCRIPT, PROCESS OR SCRAPER -->
              <% } %>
            </ul>
          </div>
          <!-- /MOBILE ICONS MENU -->
        </div>
      </span>
    </h4>
  </div>
  <div id="collapse<%= monitor.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= monitor.id %>">
    <div class="panel-body">
      <div>
        <h4>Type</h4>
        <p> <%= monitor.type %> </p>
        <h4>Hostname</h4>
        <p> <%= monitor.resource.hostname %> </p>
      </div>
    </div>
  </div>
</div> <!-- end item -->
