<div class="taskRow">
  <div class="tasks-container panel panel-default">
    <div class="panel-heading" role="tab" id="{{ collapseHeadingId }}"> <!-- Collapse Heading Container { -->
      <h4 class="panel-title-icon"><i data-hook="header-icon"></i></h4>
      <h4 class="panel-title">
        <span class="collapsed"
          data-hook="collapse-toggle"
          data-toggle="collapse"
          data-parent="#task-accordion"
          href="#{{ collapseContainerId }}"
          aria-expanded="false"
          aria-controls="{{ collapseContainerId }}">
          <div class="panel-title-content">

            <span class="panel-item name">
              <span data-hook="name" title="{{ model.name }}"></span>
              <small> > <i data-hook="type"></i> <i data-hook="hostname"></i></small>
            </span>

            <!-- DESKTOP ICONS MENU { -->
            <div data-hook="buttons-container" class="panel-item icons panel-item-desktop"> </div>
            <!-- } DESKTOP ICONS MENU -->
            <!-- MOBILE ICONS MENU { -->
            <div class="panel-item icons dropdown panel-item-mobile">
              <button class="btn dropdown-toggle btn-primary"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <ul data-hook="buttons-container" class="dropdown-menu"></ul>
            </div>
            <!-- } MOBILE ICONS MENU -->

            <!-- RUN TASK BUTTON -->
            <div data-hook="execute-button-container" class="panel-item icons run-task-icon">
            </div>
          </div>
        </span>
      </h4>
    </div> <!-- } END Collapse Heading Container -->
    <!-- Collapsed Container { -->
    <div data-hook="collapse-container"
      id="{{ collapseContainerId }}"
      class="panel-collapse collapse"
      role="tabpanel"
      aria-labelledby="{{ collapseHeadingId }}">
      <div class="panel-body" data-hook="collapse-container-body"> </div>
    </div>
    <!-- } END Collapsed Container -->
  </div>
</div>
