<div class="inbox-entry panel panel-default">
  <div class="panel-heading" role="tab" id="{{ collapseHeadingId }}">
    <h4 class="panel-title-icon"><i data-hook="model-icon"></i></h4>
    <h4 class="panel-title inbox-title">
      <span class="collapsed"
        href="#{{ collapseContainerId }}"
        data-hook="collapse-toggle"
        data-toggle="collapse"
        data-parent="#notifications-accordion"
        aria-expanded="false"
        aria-controls="{{ collapseContainerId }}">
        <div class="panel-title-content">
          <div class="panel-item name entry-text">
            <span class="capitalize" data-hook="modelType"></span>
            <span data-hook="modelName"></span>
            <span data-hook="message"></span>

          </div>
          <div class="panel-item state-icon">
            <span data-hook="icon"></span>
          </div>
        </div>
      </span>
    </h4>
  </div>
  <div class="panel-collapse collapse"
    data-hook="collapse-container"
    id="{{ collapseContainerId }}"
    role="tabpanel"
    aria-labelledby="{{ collapseHeadingId }}">
    <div class="panel-body" data-hook="collapse-container-body">
      <div>
        <span>Event: </span>
        <span class="capitalize" data-hook="modelType"></span>
        <span data-hook="modelName"></span>
        <span data-hook="message"></span>
      </div>
      <div>
        <span>Time: </span>
        <span data-hook="time"></span>
      </div>
      <div>
        <span>Bot: </span>
        <span class="capitalize" data-hook="hostName"></span>
      </div>
    </div>
  </div>
</div>
