<div
  class="itemRow panel panel-default js-searchable-item"
  data-tags="{{ tags }}"
  data-item-id="{{attributes.id}}"
  data-item-name="{{attributes.name}}">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse"
        data-parent="#accordion"
        href="#collapse{{ attributes.id }}"
        aria-expanded="false"
        aria-controls="collapse{{ attributes.id }}">
        <div class="panel-title-content">
          <button class="rowSelector btn btn-primary simple-btn tooltiped"
            data-hook="select"
            title="select webhook"
            aria-label="Center Align">
            <span class="selectorIcon glyphicon glyphicon-unchecked"></span>
          </button>
          <span class="panel-item name">{{ attributes.name }}</span>
          <div class="panel-item icons">
            <button class="btn btn-primary simple-btn tooltiped"
              data-hook="edit"
              title="Edit"
              aria-label="Center Align">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-primary simple-btn tooltiped"
              data-hook="remove"
              title="Delete"
              aria-label="Center Align">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </a>
    </h4>
  </div>
  <div id="collapse{{ attributes.id }}"
    class="panel-collapse collapse"
    role="tabpanel"
    aria-labelledby="heading{{ attributes.id }}">
    <div class="panel-body">
      <div class="row">
        <span class="col-xs-3">Name</span>
        <span class="col-xs-9">{{ attributes.name }}</span>
      </div>
      <div class="row">
        <span class="col-xs-3">Hook Unique ID</span>
        <span class="col-xs-9">{{ attributes.id }}</span>
      </div>
      <div class="row">
        <span class="col-xs-3">Trigger URL</span>
        <span class="col-xs-9">
          <div class="input-group">
            <input data-hook="trigger-url" id="webhookTriggerUrl" type=text class=form-control readonly value="{{ triggerUrl }}" />
            <span class="input-group-btn">
              <button class="btn btn-primary clipboard-token-btn clip" type="button"
                data-clipboard-target="#webhookTriggerUrl">
                <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
              </button>
            </span>
          </div>
        </span>
      </div>
      <div class="row" style="padding:10px;"></div>
      <div class="row">
        <span class="col-xs-3">How to Trigger</span>
        <span class="col-xs-9">
          To Trigger push
          <button data-hook="trigger" class="btn btn-primary simple-btn">
            This Button
          </button> ! Also, you can trigger this hook running this command via CLI (you required curl)
          <div class="input-group">
            <input id=webhookTriggerCurl type=text class=form-control readonly value="curl -X POST '{{ triggerUrl }}'" />
            <span class="input-group-btn">
              <button class="btn btn-primary clipboard-token-btn clip" type="button"
                data-clipboard-target="#webhookTriggerCurl">
                <span class="glyphicon glyphicon-copy" alt="copy to clipboard"> </span>
              </button>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div> <!-- end item -->
