<div class="monitorRow">
  <div class="resource-container panel panel-default">
    <div class="panel-heading" role="tab" id="{{ collapseHeadingId }}"> <!-- Collapse Heading Container { -->
      <h4 class="panel-title-icon"><i data-hook="monitor-icon"></i></h4>
      <h4 class="panel-title">
        <span class="collapsed"
          href="#{{ collapseContainerId }}"
          data-hook="collapse-toggle"
          data-toggle="collapse"
          data-parent="#monitor-accordion"
          aria-expanded="false"
          aria-controls="{{ collapseContainerId }}">
          <div class="panel-title-content">

            <span class="panel-item name"> {{ model.name }}
              <small> > <i data-hook="type"></i></small>
            </span>

            <section data-hook="monitor-icons-block" style="float:right;">
              <!-- DESKTOP ICONS MENU { -->
              <div data-hook="buttons-container" class="panel-item icons panel-item-desktop"> </div>
              <!-- } DESKTOP ICONS MENU -->
              <!-- MOBILE ICONS MENU { -->
              <div class="panel-item icons dropdown panel-item-mobile">
                <button class="btn dropdown-toggle btn-primary"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <ul data-hook="buttons-container" class="dropdown-menu"> </ul>
              </div>
              <!-- } MOBILE ICONS MENU -->
            </section>

            <!-- state_severity is a model object derived property, not an attribute -->
            <div class="panel-item tooltiped state-icon state-resource-container">
              <span data-hook="state-icon"></span>
            </div>

          </div>
        </span>
      </h4>
    </div> <!-- } END Collapse Heading Container -->
    <div class="panel-collapse collapse"
      data-hook="collapse-container"
      id="{{ collapseContainerId }}"
      role="tabpanel"
      aria-labelledby="{{ collapseHeadingId }}">
      <div class="panel-body" data-hook="collapse-container-body"> </div>
    </div> <!-- Collapsed Content Container -->
  </div>
</div>
