<% block('styles', '<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">')%>
<% block('styles', '<link rel="stylesheet" href="/styles/highlight/default.css"></script>') %>
<% block('scripts', '<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>')%>
<% block('scripts', '<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>')%>
<% block('scripts', "<script> window.scripts = "+ JSON.stringify(scripts)+";</script>") %>
<% block('scripts', '<script src="/js/dependencies/lodash.min.js"></script>')%>
<% block('scripts', '<script src="/js/application/scripts.js"></script>')%>
<% block('scripts', '<script src="/js/highlight.pack.js"></script>') %>
<% block('scripts', '<script>hljs.initHighlightingOnLoad();</script>') %>

<% block('scripts', '<script src="/js/application/searchbox.js"></script>')%>
<% block('scripts', '<script src="/js/application/tasks.js"></script>') %>

<!-- Main  -->
<div class="container admin-container">

  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a Task">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>

  <div class="tasks-admin">
    <h3>Tasks Admin</h3>
    <div>
      <div class="table-header admin">
        <span class="title">Tasks &nbsp; &nbsp; |</span>
        <button class="createTask btn btn-default simple-btn new-btn tooltiped"
          data-placement="right"
          title="Create new task"
          aria-label="Left Align"
          data-toggle="modal"
          data-target="#create-task">
          <span class="glyphicon glyphicon-plus"></span>
          New Task
        </button>

        <button class="pull-right tableHeaderIconButton massChecker btn btn-default simple-btn tooltiped"
          title="Select all"
          aria-label="Center Align">
          <span class="massiveSelector glyphicon glyphicon-unchecked"></span>
        </button>
        <button class="pull-right tableHeaderIconButton massDelete btn btn-default simple-btn tooltiped"
          title="Delete selected tasks"
          aria-label="Center Align">
          <span class="glyphicon glyphicon-trash"></span>
        </button>

      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% tasks.forEach( function(task, key) { %>
          <%
          var tags = [
            "task",
            task.description,
            task.name,
            "task="+ task.id,
            "host="+ task.host_id,
          ].join(',');
          %>
          <div
            class="itemRow panel panel-default js-searchable-item"
            data-item-id="<%= task.id %>"
            data-item-name="<%= task.name %>"
            data-tags="<%= tags %>">
            <div class="panel-heading" role="tab" id="heading<%= task.id %>">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse"  data-parent="#accordion" href="#collapse<%= task.id %>" aria-expanded="false" aria-controls="collapse<%= task.id %>">
                  <div class="panel-title-content">
                    <span class="panel-item name" id="<%= task.id %>">
                    <% if (!task.script_id || !task.host_id) { %>
                        <small><span class="glyphicon glyphicon-remove-sign remark-alert"></span></small>
                        &nbsp; <%= task.name %>
                        <small class="remark-alert">> No host or script detected</small>
                    <% } else { %>
                        <%= task.name %>
                    <% } %>
                    </span>
                    <div class="panel-item icons">
                      <button class="editTask btn btn-default simple-btn tooltiped"
                        title="Edit task"
                        aria-label="Center Align">
                        <span class="glyphicon glyphicon-edit"></span>
                      </button>
                      <button class="deleteTask btn btn-default simple-btn tooltiped"
                        title="Delete task"
                        aria-label="Center Align">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                      <button class="rowSelector btn btn-default simple-btn tooltiped"
                        title="Select task"
                        aria-label="Center Align">
                        <span class="selectorIcon glyphicon glyphicon-unchecked"></span>
                      </button>
                    </div>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapse<%= task.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= task.id %>">
              <div class="panel-body">
                <div>
                  <h4>Description</h4>
                  <p><%= task.description %></p>
                  <h4>Script</h4>
                  <p><%= task.script_name %></p>
                  <h4>Script arguments</h4>
                  <p><%= task.script_arguments %></p>
                </div>
              </div>
            </div>
          </div> <!-- end item -->
        <% }); %>
      </div> <!-- end panel -->
    </div> <!-- Tableresults -->
  </div>
</div> <!-- main -->

<%- include ./partials/create-modal.ejs %>
<%- include ./partials/edit-modal.ejs %>
<%- include ../script/partials/modal.ejs %>
