<div class="resource-container panel panel-default js-searchable-item"
  data-tags="{{ model.attributes.formatted_tags }}">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title {{ model.attributes.type }}">
      <span class="collapsed"
        data-toggle="collapse"
        data-parent="#monitor-accordion"
        href="#collapse{{ model.attributes.id }}"
        aria-expanded="false"
        aria-controls="collapse{{ model.attributes.id }}">
        <div class="panel-title-content">
          <span class="panel-item name">
            {{ model.attributes.name }}
            <small> > {{ model.attributes.type }}</small>
          </span>
          <span class="panel-item icons">
            <section data-hook="monitor-icons-block" style="float:right;">
              <button data-hook="search"
                data-search="{{ model.attributes.name }}"
                class="btn btn-icon-image resource-search">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button title="Workflow"
                data-hook="workflow"
                class="tooltiped btn-icon-image flowchart-icon">
              </button>
              <button data-hook="stats" class="btn btn-icon-image tooltiped" title="Stats">
                <span class="glyphicon glyphicon-stats"></span>
              </button>
              <button data-hook="edit" class="btn btn-icon-image tooltiped" title="Edit monitors">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </section>
            <div class="tooltiped state-icon state-resource-container">
              <span data-hook="state-icon" class="{{ stateIcon }}" title="{{ model.attributes.state }}">
              </span>
            </div>
          </span>
        </div>
      </span>
    </h4>
  </div>
  <!-- COLLAPSE -->
  <div data-hook="collapse-container" id="collapse{{ model.attributes.id }}"
    class="panel-collapse collapse"
    role="tabpanel"
    aria-labelledby="heading{{ model.attributes.id }}">
    <div class="panel-body">
      <div>
        <h4>Host: {{ model.attributes.hostname }}</h4>
        <table class="table table-stripped">
          <thead>
            <tr data-hook="title-cols">
              <th></th>
              <th>Type</th>
              <th>Status</th>
              <th>Last updated</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-hook="submonitors-container">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
