<!-- SCRIPTS CRUD -->
<% block('styles' , '<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">') %>
<% block('styles' , '<link rel="stylesheet" type="text/css" href="/styles/highlight/default.css"></script>') %>
<% block('scripts', '<script src="/js/application/scripts.js"></script>') %>
<% block('scripts', '<script src="/js/application/searchbox.js"></script>') %>
<% block('scripts', '<script src="/js/application/admin/hostgroup.js"></script>') %>

<% block('scripts','<script> window.tasks = ' + JSON.stringify(tasks) + ';</script>') %>
<% block('scripts','<script> window.Tags = ' + JSON.stringify(tags) + '; </script>') %>
<% block('scripts','<script> window.Looptimes = ' + JSON.stringify(looptimes) + '; </script>') %>
<% block('scripts','<script> window.Timeouts = ' + JSON.stringify(timeouts) + '; </script>') %>
<% block('scripts','<script> window.ScraperHosts = ' + JSON.stringify(scraperHosts) + '; </script>') %>
<% block('scripts','<script> window.Scripts = ' + JSON.stringify(scripts) + '; </script>') %>

<div class="admin-container hostgroupsContainer">
  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find Host Groups">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>

  <div class="admin-panel">
    <h3>Host Templates Admin</h3>
    <div>
      <div class="table-header admin">
        <span class="title">Host Templates  &nbsp; &nbsp;|</span>
        <button class="create-group btn btn-primary simple-btn new-btn"
          aria-label="Left Align"
          data-toggle="modal"
          data-target="#group-template">
          <span class="glyphicon glyphicon-plus"></span>
          New Template
        </button>
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <% if ( groups.length == 0 ) { %>

        <a id="js-create-hostsgroup" href="#">
          <div class="alert alert-info help-action" role="alert">
            <span>
              You didn't create any "Host Template" yet.
              Start creating one?
            </span>
            <span class="glyphicon glyphicon-question-sign help"
              data-toggle="tooltip"
              data-placement="right"
              title="need any help?">
            </span>
          </div>
        </a>

        <% } else {
        groups.forEach( function(group){
        var tags = [ "group", group.hostname_regex ].join(',') %>

        <div class="itemRow panel panel-default js-searchable-item"
          data-item-id="<%= group.id %>"
          data-item-name="<%= group.hostname_regex %>"
          data-tags="<%= tags %>">
          <div class="panel-heading" role="tab" id="heading<%= group.id %>">
            <h4 class="panel-title">
              <a class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse<%= group.id %>"
                aria-expanded="false"
                aria-controls="collapse<%= group.id %>">
                <div class="panel-title-content">
                  <span class="panel-item name" id="<%= group.id %>">
                    <%= group.hostname_regex %>
                    <span class="group-<%= group.enable?'enabled':'disabled' %>">
                      <small><%= ! group.enable ? ' > disabled' :'' %></small>
                    </span>
                  </span>
                  <div class="panel-item icons">
                    <button class="edit btn btn-primary simple-btn"
                      aria-label="Center Align"
                      data-group-id="<%= group.id %>"
                      data-toggle="modal"
                      data-target="#group-template">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="delete btn btn-primary simple-btn"
                      aria-label="Center Align"
                      data-group-id="<%= group.id %>">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapse<%= group.id %>"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading<%= group.id %>">
            <div class="panel-body">
              <div>
                <h4>Tasks</h4>
                <% group.tasks.forEach( function(task) { %>
                <div class="panel-body-section">
                  <h5><b>Task <%= task.name %></b></h5>
                  <div class="fields">
                    <div class="field">Name</div>
                    <div class="field"> <%= task.name %></div>
                  </div>
                  <div class="fields">
                    <div class="field">Script</div>
                    <div class="field"> <%= task.script_name %></div>
                  </div>
                  <div class="fields">
                    <div class="field">Script Arguments</div>
                    <div class="field"> <%= task.script_arguments %></div>
                  </div>
                  <div style="clear:both"></div>
                </div>
                <% }) %>
              </div>
              <div>
                <h4>Monitors</h4>
                <% group.monitors.forEach( function(monitor) { %>
                <div class="panel-body-section">
                  <h5><b>Monitor <%= monitor.type %></b></h5>
                  <div class="fields">
                    <div class="field">Name</div>
                    <div class="field"> <%= monitor.name %></div>
                  </div>
                  <div class="fields">
                    <div class="field">Type</div>
                    <div class="field"> <%= monitor.type %></div>
                  </div>
                  <div style="clear:both"></div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div> <!-- end item -->
        <% }) // END GROUP.FOREACH
        } // END ELSE %>
      </div>
    </div>
  </div>
</div>

<%- include ./partials/group-modal.ejs %>
<%- include ./partials/task-modal.ejs %>
<%- include ./partials/process-monitor-modal.ejs %>
<%- include ./partials/scraper-monitor-modal.ejs %>
<%- include ./partials/script-monitor-modal.ejs %>
<%- include ./partials/dstat-monitor-modal.ejs %>
<%- include ./partials/psaux-monitor-modal.ejs %>
<%- include ../script/partials/modal.ejs %>
