<% if (monitor.resource.alerts === false) {
  var muteClass='resource-enable-alerts';
  var muteIcon='glyphicon-volume-up';
  var muteTitle='Activate monitor alerts';
} else {
  var muteClass='resource-disable-alerts';
  var muteIcon='glyphicon-volume-off';
  var muteTitle='Deactivate monitor alerts';
} %>
<li>
  <!-- MUTE BUTTON -->
  <button class="<%= muteClass %> btn btn-primary simple-btn tooltiped"
    title="<%= muteTitle %>"
    aria-label="Center Align"
    data-resource_id="<%= monitor.resource.id %>">
    <span class="glyphicon <%= muteIcon %>"></span>
  </button>
  <!-- /MUTE BUTTON -->
</li>
<li>
  <!-- COPY BUTTON -->
  <button
    class="btn btn-primary tooltiped simple-btn"
    data-hook="copy"
    data-monitor="<%= monitor.resource.id %>">
    <span class="glyphicon glyphicon-duplicate"></span>
  </button>
  <!-- /COPY BUTTON -->
</li>
<li>
  <!-- EDIT BUTTON -->
  <button class="editResourceMonitor editResource <%= monitor.type %>ResourceEditAction btn btn-primary simple-btn tooltiped"
    aria-label="Center Align"
    title="Edit monitor"
    data-hook="edit-<%= monitor.type %>-monitor"
    data-host_id="<%= monitor.host_id %>"
    data-resource-template="<%= monitor.template %>"
    data-hostname="<%= monitor.resource.hostname %>"
    data-resource_id="<%= monitor.resource.id %>"
    data-action="edit"
    data-toggle="modal"
    data-resource-type="<%= monitor.type %>"
    data-target="#<%= monitor.type %>ResourceModal">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
  <!-- /EDIT BUTTON -->
</li>
<li>
  <!-- DELETE BUTTON -->
  <button class="deleteResource btn btn-primary simple-btn tooltiped"
    title="Delete Monitor"
    aria-label="Center Align"
    data-resource_id="<%= monitor.resource.id %>">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <!-- /DELETE BUTTON -->
</li>
