<div>
  <div class="registerBox">
    <div class="registerBoxTitle" data-hook="register-content">
      <h1>Registrate en TheEye</h1>
      <!-- <h1>Comienza a operar con TheEye, la plataforma de automatizaci&oacute;n m&aacute;s simple del mercado.</h1>
      <h2>Necesitamos que ejecutes unos simples pasos para registrarte.</h2> -->
    </div>
    <div class="formContainer" data-hook="register-form-container">

      <div data-hook="register-form" class="register-form"></div>
      <button data-hook="start-register">Registrarse</button>
      <span>Ya estoy registrado.</span> <a class="login-back" style="text-decoration:underline;" href='/login'>Volver al login</a>
    </div>
    <div class="result-container" data-hook="result-container">
      <h1>Gracias por registrarte!</h1>
      <h2 data-hook="result-message"></h2>
      {{!-- <a class='login-back' href='/login' style="text-decoration:underline;" data-hook="login-back">Ir al login</a> --}}
      <p style="text-align: center;">
        <a href="/login">Ir al login</a>
      </p>
    </div>

    <!-- <div class="registerBoxAdditionalInformation" data-hook="register-content">
      <h2>Con TheEye puedes:</h2>
      <ul>
        <li>Operar con un control remoto universal de sistemas</li>
        <li>Tomar acciones en tiempo real multiplataforma</li>
        <li>Automatizar y simplificar tus workflows</li>
        <li>Monitorear tus sistemas</li>
        <li>Operar de forma mobile y desktop</li>
      </ul>

    </div>

    <div class="registerBoxCustomers" data-hook="register-content">
      <h2>Acompa&ntilde;amos a estas empresas, optimizando tiempos y reduciendo costos operativos.</h2>
      <div class="row">
        <div class="col-sm-4"><img src="{{ logoCustomer1 }}" alt="TheEye"></div>
        <div class="col-sm-4"><img src="{{ logoCustomer2 }}" alt="TheEye"></div>
        <div class="col-sm-4"><img src="{{ logoCustomer3 }}" alt="TheEye"></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img src="{{ logoCustomer4 }}" alt="TheEye"></div>
        <div class="col-sm-4"><img src="{{ logoCustomer5 }}" alt="TheEye"></div>
      </div>
    </div>   -->
</div>
