<div>
  <span class="stats-icon">
    <i class="fa fa-cloud" aria-hidden="true"></i>
  </span>
  <h3>Server</h3>
  <section data-hook="server">
    <i data-hook="name">{{ host.attributes.hostname }}</i><br>
    Agent Version <small data-hook="agent_version">{{ host.attributes.agent_version }}</small>
    <p>
      | <span data-hook="os_name">{{ host.attributes.os_name }}</span>
      | Agent <span style="color:{{ state_color }};"><b><i>{{ state_text }}</i></b></span>
    </p>
    <br>Last Update <small data-hook="last_update">{{ resource.formatted_last_update }}</small>
  </section>
</div>
