<% block('styles' ,'<link rel="stylesheet" type="text/css" href="/styles/highlight/default.css">') %>
<% block('scripts', '<script> $(document).ready(function(){ new ScriptsPageInit(); hljs.initHighlightingOnLoad(); }); </script>') %>
<% block('scripts' , '<script> window.scripts = ' + JSON.stringify(scripts) + ';</script>') %>

<!-- Main  -->
<div class="admin-container droptarget">
  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a Script">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
  <div class="admin-panel scripts-admin">
    <h3>Scripts Admin</h3>
    <div>
      <!-- PAGE HEADER -->
      <div class="table-header admin">
        <button class="mass-action massChecker btn btn-primary simple-btn tooltiped" title="Select all" aria-label="Center Align">
          <span class="massiveSelector glyphicon glyphicon-unchecked"></span>
        </button>
        <span class="title">Script Actions &nbsp;<i data-hook="help"></i></span>
        <span class="title separator">|&nbsp;</span>

        <!-- HEADER BUTTONS { -->
        <button class="createScript btn btn-primary simple-btn tooltiped" data-placement="right" title="Create new script">
          <span class="glyphicon glyphicon-plus"></span>
          <i class="menu-title-desktop">New Script</i>
        </button>
        <button class="mass-action pull-right massDelete btn btn-primary simple-btn tooltiped" title="Delete selected scripts" aria-label="Center Align">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <!-- } HEADER BUTTONS -->
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- BODY LIST { -->
        <% scripts.forEach( function(script, key) {
          var tags = [
            "script",
            script.description,
            script.filename,
            script.extension,
            "script="+ script.id,
          ].join(','); %>
          <div class="itemRow panel panel-default js-searchable-item"
            data-item-id="<%= script.id %>"
            data-item-name="<%= script.filename %>"
            data-tags="<%= tags %>">
            <div class="panel-heading" role="tab" id="heading<%= script.id %>">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse"  data-parent="#accordion" href="#collapse<%= script.id %>" aria-expanded="false" aria-controls="collapse<%= script.id %>">
                  <div class="panel-title-content">
                    <button class="rowSelector btn btn-primary simple-btn tooltiped"
                      title="Select script"
                      aria-label="Center Align">
                      <span class="selectorIcon glyphicon glyphicon-unchecked"></span>
                    </button>
                    <span class="panel-item name" id="<%= script.id %>"> <%= script.filename %> </span>

										<!-- DESKTOP ICONS MENU -->
										<div class="panel-item icons panel-item-desktop">
											<%- partial('./partials/menu/buttons.ejs',{ script: script }) %>
                    </div>
                    <!-- /DESKTOP ICONS MENU -->

                    <!-- MOBILE ICONS MENU -->
										<div class="panel-item icons dropdown panel-item-mobile">
											<button class="btn dropdown-toggle btn-primary simple-btn" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<%- partial('./partials/menu/buttons.ejs',{ script: script }) %>
											</ul>
                    </div>
                    <!-- /MOBILE ICONS MENU -->
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapse<%= script.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= script.id %>">
              <div class="panel-body">
                <div>
                  <h4>Description</h4>
                  <p> <%= script.description %> </p>
                  <h4>Mime Type</h4>
                  <p> <%= script.mimetype %> </p>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
        <!-- } BODY LIST -->
      </div> <!-- end panel -->
    </div> <!-- Tableresults -->
  </div>
</div> <!-- main -->


<!-- Modal to display script template -->

<%- include ./partials/modal.ejs %>
