<% block("styles" ,'<link href="/styles/dropzone.css" rel="stylesheet" type="text/css">') %>
<% block('scripts','<script src="/js/application/scripts.js"></script>')%>
<% block('scripts','<script src="/js/application/resources.js"></script>') %>

<% block('scripts','<script> window.Tags = ' + JSON.stringify(tags) + '; </script>') %>
<% block('scripts','<script> window.Looptimes = ' + JSON.stringify(looptimes) + '; </script>') %>
<% block('scripts','<script> window.Timeouts = ' + JSON.stringify(timeouts) + '; </script>') %>
<% block('scripts','<script> window.Hosts = ' + JSON.stringify(hosts) + '; </script>') %>
<% block('scripts','<script> window.ScraperHosts = ' + JSON.stringify(scraperHosts) + '; </script>') %>
<% block('scripts','<script> window.Scripts = ' + JSON.stringify(scripts) + '; </script>') %>

<!-- Main  -->
<div class="admin-container monitorContainer">

  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a Monitor">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>

  <div class="admin-panel resources-panel">
    <h3>Monitors Admin</h3>
    <div>
      <div class="table-header admin">
        <button class="pull-left tableHeaderIconButton massChecker btn btn-primary simple-btn tooltiped"
          title="Select all"
          aria-label="Center Align">
          <span class="massiveSelector glyphicon glyphicon-unchecked"></span>
        </button>

        <span class="title">Monitors &nbsp; &nbsp; |</span>

        <div class="dropdown resource new-btn">
          <span id="dropdownMenu1"
            data-toggle="dropdown"
            aria-expanded="true"
            class="btn btn-primary simple-btn dropdown-toggle"
            data-placement="right"
            title="Create new monitor"
            aria-label="Center Align">
            <span class="glyphicon glyphicon-plus"></span> New Monitor
          </span>

          <ul class="dropdown-menu"
            role="menu"
            aria-labelledby="dropdownMenu1"
            style="min-width: 120px">
            <li role="presentation">
              <a role="menuitem" tabindex="-1"
                class="create-monitor"
                data-hook="create-scraper-monitor"
                data-resource-type="scraper"
                data-action="create">WEB/API Check</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1"
                class="create-monitor createResourceMonitor"
                data-toggle="modal"
                data-hook="create-monitor"
                data-target="#processResourceModal"
                data-resource-type="process"
                data-action="create">Process</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1"
                class="create-monitor createResourceMonitor"
                data-toggle="modal"
                data-hook="create-monitor"
                data-target="#scriptResourceModal"
                data-resource-type="script"
                data-action="create">Script</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1"
                class="create-monitor createResourceMonitor"
                data-toggle="modal"
                data-hook="create-monitor"
                data-target="#dstat-resource-modal"
                data-resource-type="dstat"
                data-action="create">Host Stats</a>
            </li>
            <!--
            <li role="presentation">
              <a role="menuitem" tabindex="-1"
                class="create-monitor createResourceMonitor"
                data-toggle="modal"
                data-hook="create-monitor"
                data-target="#psauxResourceModal"
                data-resource-type="psaux"
                data-action="create">Process List</a>
            </li>
            -->
          </ul>
        </div>

        <button class="pull-right tableHeaderIconButton massDelete btn btn-primary simple-btn tooltiped"
          title="Delete selected monitors"
          aria-label="Center Align">
          <span class="glyphicon glyphicon-trash"></span>
        </button>

        <button class="pull-right tableHeaderIconButton massMuteActivate btn btn-primary simple-btn tooltiped"
          title="Activate selected monitors alerts"
          aria-label="Center Align">
          <span class="massiveSelector glyphicon glyphicon-volume-up"></span>
        </button>

        <button class="pull-right tableHeaderIconButton massMuteDeactivate btn btn-primary simple-btn tooltiped"
          title="Deactivate selected monitors alerts"
          aria-label="Center Align">
          <span class="massiveSelector glyphicon glyphicon-volume-off"></span>
        </button>

      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% monitors.forEach( function(monitor, key) { %>
          <%
          var tags = [
            "id="          + monitor.resource.id,
            "description=" + monitor.resource.description,
            "hostname="    + monitor.resource.hostname,
            "type="        + monitor.type,
            "state="       + monitor.resource.state,
          ].concat(monitor.tags).join(',')
          %>
          <div class="itemRow panel panel-default js-searchable-item"
            data-item-id="<%= monitor.resource.id %>"
            data-item-name="<%= monitor.resource.description %>"
            data-tags="<%= tags %>">
            <div class="panel-heading" role="tab" id="heading<%= monitor.id %>">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse"  data-parent="#accordion" href="#collapse<%= monitor.id %>" aria-expanded="false" aria-controls="collapse<%= monitor.id %>">
                  <div class="panel-title-content">

                    <% if(monitor.type == 'host') { %>
                    <button class="rowSelector-not btn btn-primary simple-btn tooltiped"
                      title="Beware: I'm a Host!!"
                      aria-label="Center Align">
                      <span class="selectorIcon glyphicon glyphicon-home"></span>
                    </button>
                    <% } else { %>
                    <button class="rowSelector btn btn-primary simple-btn tooltiped"
                      title="Select monitor"
                      aria-label="Center Align">
                      <span class="selectorIcon glyphicon glyphicon-unchecked"></span>
                    </button>
                    <% } %>

                    <span class="panel-item name" id="<%= monitor.id %>">
                      <%= monitor.resource.description %>
                      <span class="monitor-<%= monitor.enable?'enabled':'disabled' %>">
                        <small><% if(monitor.resource.type != 'host'){ %>(<%=monitor.resource.hostname%>)<% } %><%= ! monitor.enable ? ' > disabled' :'' %> > <%= monitor.type %></small>
                      </span>
                      <small class="<%= monitor.resource.state === 'normal' ? '' : 'remark-alert' %>"> > host status :: <%= monitor.resource.state %></small>
                    </span>
                    <div class="panel-item icons">

                      <% 
                      var type = monitor.type || monitor.monitor_type;
                      if( type != 'host' && type != 'psaux' ) { %>

                      <button class="editResourceMonitor editResource <%= monitor.type %>ResourceEditAction btn btn-primary simple-btn tooltiped"
                        aria-label="Center Align"
                        title="Edit monitor"
                        data-hook="edit-<%= monitor.type %>-monitor"
                        data-host_id="<%= monitor.host_id %>"
                        data-hostname="<%= monitor.resource.hostname %>"
                        data-resource_id="<%= monitor.resource.id %>"
                        data-action="edit"
                        data-toggle="modal"
                        data-resource-type="<%= monitor.type %>"
                        data-target="#<%= monitor.type %>ResourceModal">
                        <span class="glyphicon glyphicon-edit"></span>
                      </button>

                      <%
                      if( monitor.resource.alerts === false ) {
                        var muteClass='resource-enable-alerts';
                        var muteIcon='glyphicon-volume-up';
                        var muteTitle='Activate monitor alerts';
                      } else {
                        var muteClass='resource-disable-alerts';
                        var muteIcon='glyphicon-volume-off';
                        var muteTitle='Deactivate monitor alerts';
                      }
                      %>

                      <button class="<%= muteClass %> btn btn-primary simple-btn tooltiped"
                        title="<%= muteTitle %>"
                        aria-label="Center Align"
                        data-resource_id="<%= monitor.resource.id %>">
                        <span class="glyphicon <%= muteIcon %>"></span>
                      </button>

                      <button class="deleteResource btn btn-primary simple-btn tooltiped"
                        title="Delete monitor"
                        aria-label="Center Align"
                        data-resource_id="<%= monitor.resource.id %>">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>

                      <% } else { %>

                      <%  if( type == 'host' ) { %>
                      <div class="dropdown host-menu">
                        <button id="dropdownMenu1"
                          data-toggle="dropdown"
                          aria-expanded="true"
                          class="btn btn-primary simple-btn dropdown-toggle"
                          aria-label="Center Align">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" style="min-width: 120px">
                          <li role="presentation">
                            <span role="menuitem" tabindex="-1"
                              class="create-monitor"
                              data-hook="create-scraper-monitor"
                              data-host_id="<%= monitor.host_id %>"
                              data-hostname="<%= monitor.resource.hostname %>"
                              data-resource-type="scraper"
                              data-action="create">WEB/API Check</span>
                          </li>
                          <li role="presentation">
                            <span role="menuitem" tabindex="-1"
                              class="create-monitor createResourceMonitor"
                              data-host_id="<%= monitor.host_id %>"
                              data-hostname="<%= monitor.resource.hostname %>"
                              data-toggle="modal"
                              data-hook="create-monitor"
                              data-target="#processResourceModal"
                              data-resource-type="process"
                              data-action="create">Process</span>
                          </li>
                          <li role="presentation">
                            <span role="menuitem" tabindex="-1"
                              class="create-monitor createResourceMonitor"
                              data-host_id="<%= monitor.host_id %>"
                              data-hostname="<%= monitor.resource.hostname %>"
                              data-toggle="modal"
                              data-hook="create-monitor"
                              data-target="#scriptResourceModal"
                              data-resource-type="script"
                              data-action="create">Script</span>
                          </li>
                          <li role="presentation">
                            <span role="menuitem" tabindex="-1"
                              class="create-monitor createResourceMonitor"
                              data-host_id="<%= monitor.host_id %>"
                              data-hostname="<%= monitor.resource.hostname %>"
                              data-toggle="modal"
                              data-hook="create-monitor"
                              data-target="#dstat-resource-modal"
                              data-resource-type="dstat"
                              data-action="create">Host Stats</span>
                          </li>
                          <!--
                          <li role="presentation">
                            <span role="menuitem" tabindex="-1"
                              class="create-monitor createResourceMonitor"
                              data-host_id="<%= monitor.host_id %>"
                              data-hostname="<%= monitor.resource.hostname %>"
                              data-toggle="modal"
                              data-hook="create-monitor"
                              data-target="#psauxResourceModal"
                              data-resource-type="psaux"
                              data-action="create">Process List</span>
                          </li>
                          -->
                        </ul>
                      </div>
                      <% } %>

                      <button class="deleteHostResource btn btn-primary simple-btn tooltiped"
                        title="Delete monitor"
                        aria-label="Center Align"
                        data-resource_id="<%= monitor.resource.id %>">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>

                      <% } %>

                    </div>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapse<%= monitor.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= monitor.id %>">
              <div class="panel-body">
                <div>
                  <h4>Type</h4>
                  <p> <%= monitor.type %> </p>
                  <h4>Hostname</h4>
                  <p> <%= monitor.resource.hostname %> </p>
                </div>
              </div>
            </div>
          </div> <!-- end item -->
        <% }) %>
      </div> <!-- end panel -->
    </div> <!-- Tableresults -->
  </div>
</div> <!-- main -->

<%- partial ('./partials/dstat-modal-form.ejs') %>
<%- partial ('./partials/scraper-modal-form.ejs') %>
<%- partial ('./partials/process-modal-form.ejs') %>
<%- partial ('./partials/script-modal-form.ejs') %>
<%- partial ('../script/partials/modal.ejs') %>
