<% block('scripts','<script> window.Tags = ' + JSON.stringify(tags) + '; </script>') %>
<% block('scripts','<script> window.Looptimes = ' + JSON.stringify(looptimes) + '; </script>') %>
<% block('scripts','<script> window.Timeouts = ' + JSON.stringify(timeouts) + '; </script>') %>
<% block('scripts','<script> window.Hosts = ' + JSON.stringify(hosts) + '; </script>') %>
<% block('scripts','<script> window.Scripts = ' + JSON.stringify(scripts) + '; </script>') %>
<% block('scripts','<script> $(document).ready(function(){ new ScriptsPageInit(); new MonitorsPageInit(); }); </script>') %>

<!-- Main  -->
<div class="admin-container monitorContainer">
  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a Monitor">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
  <div class="admin-panel resources-panel">
    <h3>Monitors Admin</h3>
    <div>
      <!-- PAGE HEADER -->
      <div class="table-header admin">
        <button class="mass-action massChecker btn btn-primary simple-btn tooltiped" title="Select all" aria-label="Center Align">
          <span class="massiveSelector glyphicon glyphicon-unchecked"></span>
        </button>
        <span class="title">Monitors &nbsp;<i data-hook="help"></i></span>
        <span class="title separator">|</span>

        <%- partial('./partials/menu/create-monitors-dropdown.ejs') %>
        <!-- DESKTOP/MOBILE MASSIVE MENU { -->
        <div class="panel-item panel-item-mobile icons dropdown">
          <button class="btn dropdown-toggle btn-primary simple-btn mobile-dropdown-button"
            type="button"
            id="dropdownMenu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu desktop-mobile-dropdown" aria-labelledby="dropdownMenu1">
            <%- partial('./partials/menu/massive-actions.ejs') %>
          </ul>
        </div>

        <div class="panel-item panel-item-desktop icons">
          <%- partial('./partials/menu/massive-actions.ejs') %>
        </div>
        <!-- } DESKTOP/MOBILE MASSIVE MENU -->

      </div>
      <!-- /PAGE HEADER -->

      <!-- PAGE CONTENT -->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% monitors.forEach( function(monitor, key) { %>
          <%- partial ('./partials/monitor-row.ejs', { monitor: monitor, }) %>
        <% }) %>
      </div>
      <!-- /PAGE CONTENT -->

    </div> <!-- Tableresults -->
  </div>
</div> <!-- main -->

<%- partial ('./partials/dstat-modal-form.ejs') %>
<%- partial ('./partials/process-modal-form.ejs') %>
<%- partial ('./partials/script-modal-form.ejs') %>
<%- partial ('../script/partials/modal.ejs') %>
